name: webdriverio-ci

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v2
        - uses: actions/setup-node@v1
          with:
            node-version: 16.3.0
        - name: Install
          run: npm install
        - name: Test
          run: npm run wdio
        - uses: actions/deploy-pages@v2 => actions/deploy-pages@v4
          if: failure()
          with:
            name: allureReport
            path: ./allure-report
